p{
    margin-top : 0;
    margin-bottom : 0;
    font-family: Arial, Helvetica, sans-serif;
}
.Email
{
    color: gray;
    margin-bottom: 6px;
}

.email-box
{
    width : 390px;
    padding-top: 8px;
    border-width: 2px;
    border-style: solid;
    border-radius: 3px;
    margin-bottom: 15px;
}

.policy-text
{
    color : gray;
    margin-bottom: 15px;
}

.agree-button
{
    width: 395px;
    text-align: center;
    color : white;
    font-size: 20px;
    background-color: rgb(10,102,194);
    border : none;
    border-radius: 30px;
    padding : 16px 0px;

}