.searchbar
{
    padding-top: 12px;
    padding-bottom:12px;
    padding-left: 15px;
    padding-right : 15px;
    border-radius: 10px ;
    border-width: 0.5px;
    border-color: rgb(200,200,200);
    border-style: solid;
}

